@media (min-width: 768px) {
  .wrapper__login {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    height: 100vh;
  }
  .login {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    border: 1px solid green;
    padding: 30px 60px;
    border-radius: 7px;
    margin: 100px;
  }
}

.wrapper__login {
  display: flex;
}

.login {
  border: 1px solid red;
  border-radius: 7px;

  .login__title {
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .login__user,
  .login__pass {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  .login__buttons {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
  .login__buttons > button {
    padding: 5px;
  }
}
